# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/libs/
app/tests/coverage/
.idea/
coverage/
.coveralls.yml

# MEAN.js app and assets
# ======================
public/dist/
public/img/pictures/
public/img/thumbnails/
uploads
modules/users/client/img/profile/uploads
config/env/local.js
config/env/local-*.js
*.pem
