<md-content>
<div class="container">
  <div class="row is-table-row">
    <div ng-show="!isLoggedIn" class="col-sm-12 col-md-12 col-lg-12">
      <h1 class="page-header">Announcements</h1>
    </div>
    <div ng-show="isLoggedIn" class="col-sm-12 col-md-6 col-lg-6">
      <h1 class="page-header">Announcements</h1>
    </div>
    <div ng-show="isLoggedIn" class="col-sm-12 col-md-6 col-lg-6" style="vertical-align:middle;padding-right:0;">
      <button style="float:right;" ng-click="openNewAnnouncementModal($event)" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Announcement</button>
    </div>
  </div>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="a in announcements" ng-click="null">
      <div class="md-list-item-text" layout="column">
        <h4>{{ a.datetime | date:"MM/dd/yyyy 'at' h:mma" }}</h4>
        <p style="word-break:break-word">{{ a.content }}</p>
        <span ng-show="isLoggedIn" class="glyphicon glyphicon-edit hoverable-edit md-secondary" ng-click="openUpdateAnnouncementModal($event, $index)">
        <span ng-show="isLoggedIn" class="table-remove glyphicon glyphicon-remove hoverable-remove md-secondary" ng-click="delete(a._id)">
      </div>
    </md-list-item>
  </md-list>
</div>
</md-content>
