<div class="container elevated-box">
  <div class="container-no-padding">
    <div class="row">
      <div class="col-xs-6 col-sm-8 col-md-10">
        <h1>Guests</h1>
      </div>
      <div class="col-xs-6  col-sm-4 col-md-2">
        <div ng-show="isLoggedIn">
          <br/>
          <button ng-click="openNewGuestModal($event)" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> <b>NEW GUEST</b></button>
        </div>
      </div>
    </div>
  </div>
  <md-card id="guest-card">
    <md-card-content class="guest-stats">
      <h3>Quick stats</h3>
      <p>Total number of guests attending: {{numAdultsAttending + numChildrenAttending}}</p>
      <p>Number of adults attending: {{numAdultsAttending}}</p>
      <p>Number of children attending: {{numChildrenAttending}}</p>
      <p>Number of children meals: {{numChildrenMeals}}</p>
      <p>Number of vegetarian meals: {{numVegMeals}}</p>
    </md-card-content>
  </md-card>
  <div class="container-no-padding">
    <div class="row">
      <div class="col-xs-12 col-md-9 search-bar">
        <input type="text" name="search" ng-model="searchTerms" ng-change="onKeywordsChangedEvent()" placeholder="Type to search by name">
      </div>
      <div class="col-xs-12 col-md-3">
        <button ng-click="downloadAsXLSX()" class="btn btn-default btn-block xlsx-btn"><span class="glyphicon glyphicon-download-alt"></span><b>&nbsp;&nbsp;&nbsp;.XLSX</b></button>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover" id="guest-table">
          <thead align="center" id="guest-header">
            <th>Name<span class="glyphicon glyphicon-sort sort-icon" ng-click="sortGuestsByProperty($event, 'name')"></span></th>
            <th>Responded?<span class="glyphicon glyphicon-sort sort-icon" ng-click="sortGuestsByProperty($event, 'responded')"></span></th>
            <th># Adults<span class="glyphicon glyphicon-sort sort-icon" ng-click="sortGuestsByProperty($event, 'numAdults')"></span></th>
            <th># Children<span class="glyphicon glyphicon-sort sort-icon" ng-click="sortGuestsByProperty($event, 'numChildren')"></span></th>
            <th># Children Meals<span class="glyphicon glyphicon-sort sort-icon" ng-click="sortGuestsByProperty($event, 'numChildMeals')"></span></th>
            <th># Vegetarian Meals<span class="glyphicon glyphicon-sort sort-icon" ng-click="sortGuestsByProperty($event, 'numVegMeals')"></span></th>
            <th style="display:none">Comment</th>
            <th>Guest Code</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="g in guests" ng-show="g.name.toUpperCase().indexOf(searchTerms.toUpperCase()) >= 0" class="hoverable-tr">
              <td>{{ g.name }}
                <span ng-if="g.comments.length > 0">&nbsp;
                  <md-tooltip md-direction="top">{{g.comments}}</md-tooltip>
                  <span class="table-remove glyphicon glyphicon-comment hoverable-comment" ng-click="openCommentModal($event, $index)">&nbsp;
                </span>
              </td>
              <td>{{ dispResponse(g.responded) }}</td>
              <td>{{ dispNum(g.responded, g.numAdults) }}</td>
              <td>{{ dispNum(g.responded, g.numChildren) }}</td>
              <td>{{ dispNum(g.responded, g.numChildrenMeals) }}</td>
              <td>{{ dispNum(g.responded, g.numVegMeals) }}</td>
              <td style="display:none">{{ g.comments }}</td>
              <td>{{ g.authCode }}</td>
              <td class="min-size"><span class="glyphicon glyphicon-edit hoverable-edit" ng-click="openUpdateGuestModal($event, $index)">&nbsp;</td>
              <td class="min-size"><span class="table-remove glyphicon glyphicon-remove hoverable-remove" ng-click="delete(g._id)"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
