<div class="fade home-content">
  <div class="bg-img">
    <div class="rsvp-caption">
      <h1>Olivia and Blake's Wedding</h1>
      <hr>
      <p ng-bind="timeleft"></p>
      <a href="/rsvp"><button class="rsvp-btn">RSVP</button></a>
      <p>
        <button class="expand-btn expand-down-btn" ng-click="expandDown()">
          <span class="glyphicon glyphicon-menu-down"></span>
        </button>
      </p>
    </div>
  </div>
  <a href="/details" class="home-box-a" id="info-caption">
    <div style="position:relative;">
      <div class="home-box-light">
        <h2 class="spaced-heading">Saturday September 8, 2018 at 11:00</h2>
        <p class="home-text">View more information on where and when.</p>
      </div>
    </div>
  </a>

<div class="bg-img-2">
</div>

<a href="/registry" class="home-box-a">
  <div style="position:relative;">
    <div class='home-box-dark'>
      <h4>Get more information on the bride and groom's registry.</h4>
    </div>
  </div>
</a>

<div class="bg-img-3">
  <div class="caption">
    <button class="expand-btn expand-up-btn" ng-click="scrollToTop()">
      <span class="glyphicon glyphicon-menu-up"></span>
    </button>
  </div>
</div>

<div>
  <div class="home-box-bottom">
    <p>Website design and development by Blake VanBerlo</p>
  </div>
</div>
