<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeof6suw6bALALXHonFDA_fu6xvcHOtdU&callback=LoadMaps"></script>
<md-content>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h1>Schedule</h1>
        <md-tabs md-dynamic-height md-border-bottom class="info-tabs md-hue-2" md-swipe-content md-enable-disconnec>
          <md-tab label="Ceremony">
            <md-content>
              <div class="container event-info-container">
                <div class="row">
                    <div id="info-outer" class="col-md-12">
                      <div class="col-md-6">
                        <h2>{{ ceremonyLoc }}</h2>
                        <p>
                          <span class="glyphicon glyphicon-time"></span>
                          <span class="addtocalendar">
                            <a href="/">11:00 AM</a>
                        </span>
                        </p>
                        <p>
                          <span class="glyphicon glyphicon-map-marker"></span>
                          <a href="https://www.google.ca/maps/place/St.+Peter's+Cathedral+Basilica+%26+Parish+Office/@42.9869,-81.2521887,17z/data=!3m1!4b1!4m5!3m4!1s0x882ef2030320a421:0x676ae3903c8eac04!8m2!3d42.9869!4d-81.25" target="_blank">
                             {{ ceremonyAddr }}
                          </a>
                        </p>
                        <p>
                          <span class="glyphicon glyphicon-globe"></span>
                          <a href="http://wp.dol.ca/webportal/parish/web/view_parish/St._Peter_s_Cathedral_Basilica/1/90" target="_blank"> Venue website</a>
                        </p>
                        <p>{{ ceremonyDesc }}</p>
                      </div>
                      <div id="ceremonyMap" class="col-md-6 map-canvas"></div>
                    </div>
                  </div>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Cocktail Hour">
            <md-content>
              <div class="container event-info-container">
                <div class="row">
                  <div id="info-outer" class="col-md-12">
                    <div class="col-md-6">
                      <h2>{{ cocktailLoc }}</h2>
                      <p>
                        <span class="glyphicon glyphicon-time"></span>
                        <span class="addtocalendar">
                          <a class="atcb-link" data-toggle="tooltip" title="Add to Calendar"> 1:00 PM</a>
                      </span>
                      </p>
                      <p>
                        <span class="glyphicon glyphicon-map-marker"></span>
                          {{ cocktailAddr }}
                      </p>
                      <p>{{ cocktailDesc }}</p>
                    </div>
                    <div id="cocktailMap" class="col-md-6 map-canvas">
                      <img src="img/cocktail_hour.png" alt="cocktail" class="enclosed-img"></img>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Reception">
            <md-content>
              <div class="container event-info-container">
                <div class="row">
                  <div id="info-outer" class="col-md-12">
                    <div class="col-md-6">
                      <h2>{{ receptionLoc }}</h2>
                      <p>
                        <span class="glyphicon glyphicon-time"></span>
                        <span class="addtocalendar">
                          <a> 5:30 PM</a>
                      </span>
                      </p>
                      <p>
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <a href="https://www.google.ca/maps/place/Portuguese+Canadian+Club+of+Strathroy/@42.958759,-81.602556,17z/data=!3m1!4b1!4m5!3m4!1s0x882f03f6b328706d:0x6e563d2a131509a8!8m2!3d42.958759!4d-81.600362" target="_blank">
                           {{ receptionAddr }}
                        </a>
                      </p>
                      <p>
                        <span class="glyphicon glyphicon-globe"></span>
                        <a href="http://pccstrathroy.com/wp/" target="_blank"> Venue website</a>
                      </p>
                      <p>{{ receptionDesc }} </p>
                    </div>
                    <div id="receptionMap" class="col-md-6 map-canvas"></div>
                  </div>
                </div>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
      <div class="col-md-4 col-sm-12">
        <h1>Registry</h1>
        <div class="elevated-box registry-link">
          <a href="http://giftregistry.hbc.com/grworks/prj/generic_online/jsp/common/marcole_grw.jsp?rid=5" target="_blank">
            <img src="../img/home_outfitters_logo.svg" class="registry-logo"></img>
          </a>
        </div>
        <br>
        <div class="elevated-box registry-link">
          <a href="https://www.bedbathandbeyond.ca/store/page/Registry" target="_blank">
            <img src="../img/bed_bath_beyond_logo.png" class="registry-logo" id="BBB-logo"></img>
          </a>
        </div>
      </div>
    </div>
  </div>
  </md-content>
