<md-content md-theme="wedappTheme" class="background-container">
  <md-content class="max-width-container">
    <div class="container-no-padding">
      <div class="row">
        <div class="col-sm-8 col-lg-10">
          <h1>Stay</h1>
        </div>
        <div class="col-sm-4 col-lg-2 center-item">
          <div ng-show="isLoggedIn">
            <br/>
            <button ng-click="openNewInnModal($event)" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> <b>NEW INN</b></button>
          </div>
        </div>
      </div>
    </div>
    <p>Should you choose to spend the night in the Strathroy area after the reception, we have compiled a list of local hotels, inns, and B&Bs. Book soon, as they may fill up weeks before the wedding!<p>
    <p>Click on the hotel's name to be taken to their website.</p>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>INN</th>
            <th>ADDRESS</th>
            <th>PHONE NUMBER</th>
            <th ng-show="isLoggedIn"></th>
            <th ng-show="isLoggedIn"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in inns" ng-click="null">
              <td><md-button ng-href="{{ i.url }}" class="inn-btn" target="_blank">{{ i.name }}</md-button></td>
              <td><md-button ng-href="https://maps.google.com/maps?q={{i.address}}" class="inn-btn" target="_blank">{{ i.address }}</md-button></td>
              <td><md-button class="inn-btn" ng-href="tel:{{ i.phoneNumber }}">{{ i.phoneNumber }}</md-button></td>
              <td><span ng-show="isLoggedIn" class="glyphicon glyphicon-edit hoverable-edit md-secondary" ng-click="openUpdateInnModal($event, $index)"></td>
              <td><span ng-show="isLoggedIn" class="table-remove glyphicon glyphicon-remove hoverable-remove md-secondary" ng-click="delete(i._id)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-content>
</md-content>
