<md-content class="md-padding overflow-content">
  <div class="container-no-padding">
    <div class="row">
      <div class="col-sm-8 col-lg-10">
        <h1>Pictures</h1>
      </div>
      <div class="col-sm-4 col-lg-2" ngf-select="upload($file)">
        <div class="button upload-btn">
          <span><i class="fa fa-cloud-upload" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; Upload Picture</span>
        </div>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
  <br/>
  <md-grid-list
    md-cols="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="4:3"
    md-gutter="8px" md-gutter-gt-sm="4px" >
      <md-grid-tile ng-repeat="($i,p) in pictures"
        md-colspan-sm="1"
        md-colspan-xs="1" >
        <a ng-click="openGallery($i)" class="image-link">
          <div ng-show="isLoggedIn" ng-click="delete($event, p._id, p.filename)" class="delete-button">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </div>
          <img class="img-thumbnail" ng-src="{{thumbFolder + p.thumbFilename}}" alt="{{p.thumbFilename}}">
        </a>
      </md-grid-tile>
  </md-grid-list>
</md-content>

<ng-image-gallery
	images="images"
	methods="methods"
	thumbnails="false"
  thumb-size="150"
	inline="false"
	bubbles="false"
	img-bubbles="false"
	bg-close="true"
	piracy="true"
	img-anim="slide"
	conf="conf"
></ng-image-gallery>
