<md-content class="background-container">
  <md-content class="max-width-container">
  <h1>Registry</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="registry-link">
          <a href="https://registry.homeoutfitters.com/registry/find-registry" target="_blank">
            <img src="../img/home_outfitters_logo.svg" class="registry-logo"></img>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="registry-link">
          <a href="https://www.bedbathandbeyond.ca/store/page/Registry" target="_blank">
            <img src="../img/bed_bath_beyond_logo.png" class="registry-logo" id="BBB-logo"></img>
          </a>
        </div>
      </div>
    </div>
  </div>
</md-content>
</md-content>
