<md-content class="overflow-content elevated-box">
  <h1>Registry</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="elevated-box registry-link">
          <a href="http://giftregistry.hbc.com/grworks/prj/generic_online/jsp/common/marcole_grw.jsp?rid=5" target="_blank">
            <img src="../img/home_outfitters_logo.svg" class="registry-logo"></img>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="elevated-box registry-link">
          <a href="https://www.bedbathandbeyond.ca/store/page/Registry" target="_blank">
            <img src="../img/bed_bath_beyond_logo.png" class="registry-logo" id="BBB-logo"></img>
          </a>
        </div>
      </div>
    </div>
  </div>
</md-content>
