<md-content class="rsvp-background-container">
  <div class="translucent-box">
    <h1 id="rsvp-header">RSVP</h1>
    <form name="rsvpForm">
      <p>Enter your unique guest code as it appears on your wedding invitation.</p>
      <md-input-container class="md-block">
        <label>Guest code</label>
        <input required name="guestNameInput" ng-model="potGuest.authCode" md-maxlength="4" minlength="4" oninput="this.value = this.value.toUpperCase()">
        <div ng-messages="rsvpForm.guestNameInput.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The code on your invitation is 4 letters.</div>
          <div ng-message="minlength">The code on your invitation is 4 letters.</div>
        </div>
      </md-input-container>
      <p>Will you be attending the wedding?</p>
      <md-radio-group ng-model="isAttending" ng-change="expand()" layout="row">
        <md-radio-button class="custom-radio" ng-value="true" aria-label="Yes">
          YES
        </md-radio-button>
        <md-radio-button class="custom-radio" ng-value="false" aria-label="No">
          NO
        </md-radio-button>
      </md-radio-group>
    </form>
    <form name="detailsForm">
      <div class="panel guest-info-panel" id="guest-info">
        <div class="row" style="margin-top: 10px;">
        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
        <md-input-container class="md-block">
          <label class="visible-xs visible-sm"># adults (age 12+)</label>
          <label class="hidden-xs hidden-sm">Number of adults attending (age 12+)</label>
          <input required type="number" step="any" name="numAttendingInput" ng-model="potGuest.numAdultAttending" min="1"
                 max="10" ng-pattern="/^[0-9]*$/" ng-disabled="!isAttending"/>
          <div ng-messages="rsvpForm.numAttendingInput.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              You must specify the number of adults that will be attending.
            </div>
            <div ng-message="min">
              Please enter a number between 1 and 10.
            </div>
            <div ng-message="pattern">
              Please enter a number between 1 and 10.
            </div>
            <div ng-message="max">
              Please enter a number between 1 and 10.
            </div>
          </div>
        </md-input-container>
      </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <md-input-container class="md-block">
              <label class="visible-xs visible-sm"># children (age 0-11)</label>
              <label class="hidden-xs hidden-sm">Number of children attending (age 0-11)</label>
              <input required type="number" step="any" name="numChildAttendingInput" ng-model="potGuest.numChildAttending" min="0"
                     max="10" ng-pattern="/^[0-9]*$/" ng-disabled="!isAttending" ng-change="numChildrenSet()"/>
              <div ng-messages="rsvpForm.numChildAttendingInput.$error" multiple md-auto-hide="true">
                <div ng-message="required">
                  You must specify the number of children that will be attending.
                </div>
                <div ng-message="min">
                  Please enter a number between 0 and 10.
                </div>
                <div ng-message="pattern">
                  Please enter a number between 0 and 10.
                </div>
                <div ng-message="max">
                  Please enter a number between 0 and 10.
                </div>
              </div>
            </md-input-container>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <md-input-container class="md-block">
              <label class="visible-xs visible-sm"># child meals</label>
              <label class="hidden-xs hidden-sm">Number of children meals requested</label>
              <input required type="number" step="any" name="numChildMealsInput" ng-model="potGuest.numChildrenMeals" min="0"
                     max="{{potGuest.numChildAttending}}" ng-pattern="/^[0-9]*$/" ng-disabled="!isAttending"/>
              <div ng-messages="rsvpForm.numChildMealsInput.$error" multiple md-auto-hide="true">
                <div ng-message="required">
                  You must specify the number of children's meals.
                </div>
                <div ng-message="min">
                  Please enter a number greater than or equal to 0.
                </div>
                <div ng-message="pattern">
                  Please enter a number.
                </div>
                <div ng-message="max">
                  Please enter a number less than or equal to the number of children attending.
                </div>
              </div>
            </md-input-container>
          </div>
        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
        <md-input-container class="md-block">
          <label class="visible-xs visible-sm"># vegetarian meals</label>
          <label class="hidden-xs hidden-sm">Number of vegetarian meals requested</label>
          <input type="number" step="any" name="numVegMealsInput" ng-model="potGuest.numVegMeals" min="0"
                 max="{{potGuest.numChildAttending + potGuest.numAdultAttending}}" ng-pattern="/^[0-9]*$/" ng-disabled="!isAttending"/>
          <div ng-messages="rsvpForm.numVegMealsInput.$error" multiple md-auto-hide="true">
            <div ng-message="min">
              Please enter a number greater than or equal to 0.
            </div>
            <div ng-message="pattern">
              Please enter a number.
            </div>
            <div ng-message="max">
              Please enter a number less than or equal to the number of children attending.
            </div>
          </div>
        </md-input-container>
      </div>
    </div>
  </div>
      <md-button class="md-raised md-accent rsvp-submit-btn" id="submit-rsvp" type="submit" ng-click="submit()" ng-disabled="(detailsForm.$invalid && isAttending) || rsvpForm.$invalid">Submit</md-button>
    </form>
  </div>
</md-content>
