<md-content class="background-container">
  <md-content class="max-width-container">
    <h1 id="song-modal-parent">Song requests</h1>
    <p>
      Suggest some songs to be played at the dance! Type in the box below to search for songs. You can search by song name or artist.
    </p>
    <p>
      Search by: </br>
      <input type="radio" ng-model="input_type" value="track" ng-click="onKeywordsChangedEvent()"><i> Song Name</i></br>
      <input type="radio" ng-model="input_type" value="artist" ng-click="onKeywordsChangedEvent()"><i> Artist</i>
    </p>
    <div class="search-bar">
      <input type="text" name="search" ng-model="search_terms" ng-change="onKeywordsChangedEvent()" placeholder="Type to search" id="song-search-bar">
      <div class="search-results-container">
        <div class="search-result" ng-repeat="result in results" ng-click="requestSong(result)">
          <p class="artist">{{result.artist}}</p>
          <p class="track">{{result.name}}</p>
          <p class="add-song">
            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
  </md-content>
</md-content>
