<md-dialog flex="50" id="new-announcement-modal">
  <form ng-cloak>
    <div class="imgcontainer">
      <span ng-click="cancel()" class="close" title="Close Modal">&times;</span>
      <h1 class="modal-title" align="center">New Announcement</h1>
    </div>
    <div class="container col-md-12">
      <div class="form-group">
        <label><b>Type announcement here.</b></label>
        <textarea class="form-control" rows="7" ng-model="iannouncementcontent" ng-focus="focused"></textarea>
      </div>
      <div class="modal-footer">
        <div>
          <div class="row">
            <div class="col-md-6">
              <button ng-click="cancel()" class="btn btn-block btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                   Cancel
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-block btn-success" id="submitbutton" ng-click="submitData()">
                <span class="glyphicon glyphicon-plus"></span>
                   Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</md-dialog>
