<md-dialog id="update-guest-modal" flex="35%">
  <form ng-cloak>
    <div class="imgcontainer">
      <span ng-click="cancel()" class="close" title="Close Modal">&times;</span>
      <h1 class="modal-title" align="center">Update Guest</h1>
    </div>
    <div class="container col-md-12">
      <div class="form-group">
        <label class="guest-label"><b>Guest(s) name</b></label>
        <input type="text" placeholder="Guest(s) name" ng-model="iguestname" class="col-lg-12 guest-data">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-checked="irespondedflag" ng-model="irespondedflag" ng-click="responseBehaviour()" id="response-check" checked><b> Response received?</b>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="guest-label"><b>Number of adults attending</b></label>
        <input type="text" pattern="[0-9]*" placeholder="Number of adults" ng-model="inumadults" class="col-lg-12 guest-data" ng-disabled="!irespondedflag">
      </div>
      <div class="form-group">
        <label class="guest-label"><b>Number of children attending</b></label>
        <input type="text" pattern="[0-9]*" placeholder="Number of children" ng-model="inumchildren" class="col-lg-12 guest-data" ng-disabled="!irespondedflag">
      </div>
      <div class="form-group">
        <label class="guest-label"><b>Number of child meals</b></label>
        <input type="text" pattern="[0-9]*" placeholder="Number of adults" ng-model="inumchildrenmeals" class="col-lg-12 guest-data" ng-disabled="!irespondedflag">
      </div>
      <div class="form-group">
        <label class="guest-label"><b>Dietary restrictions</b></label>
        <textarea placeholder="Note any dietary restrictions, if applicable." ng-model="idietaryrestrictions" class="col-lg-12 guest-data" ng-disabled="!irespondedflag"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <div>
        <div class="row">
          <div class="col-xs-6">
            <button ng-click="cancel()" class="btn btn-block btn-danger">
              <span class="glyphicon glyphicon-remove"></span>
                 Cancel
            </button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-block btn-success" id="submitbutton" ng-click="submitData()">
              <span class="glyphicon glyphicon-edit"></span>
                 Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</md-dialog>
